<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGhDs-9A4ikaDs7drxw9z_mYdAF1crfzw</string>
	<key>GCM_SENDER_ID</key>
	<string>259113100780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceProject</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-dc3cb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-dc3cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259113100780:ios:437621b143ee0fbf7c4cc9</string>
</dict>
</plist>